{% extends "base.html" %}

{% block title %}Changeover Report{% endblock %}

{% block content %}
<h1>Changeover Report</h1>
<form method="POST">
    <fieldset>
        <legend>Metadata</legend>
        
    </fieldset>

    <fieldset>
        <legend>Changeover Report</legend>
        <table border="1">
            <tr>
                
            </tr>
            <tr>
                
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Actions</legend>
        <button type="button">Force Re-configure</button>
    </fieldset>
</form>
{% endblock %}
