{% extends "base.html" %}

{% block title %}Almac AU Metrics{% endblock %}

{% block content %}
<h1>Overview</h1>
<form method="POST">
    <fieldset>
        <legend>Metadata</legend>
        
    </fieldset>

    <fieldset>
        <legend>Overview</legend>
        <table border="1">
            <tr>
                
            </tr>
            <tr>
                
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Actions</legend>
        <button type="button">Force Re-configure</button>
    </fieldset>
</form>
{% endblock %}
